Resources/patch/patches.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">    <xs:element name="patches">        <xs:complexType>            <xs:sequence>                <xs:element name="patch" maxOccurs="unbounded" minOccurs="1">                    <xs:complexType>                        <xs:sequence>                            <xs:element type="xs:string" name="title"/>                            <xs:element type="xs:string" name="comment"/>                            <xs:element type="xs:string" name="status"/>                            <xs:element type="xs:string" name="codetype"/>                            <xs:element type="xs:string" name="file"/>                            <xs:choice maxOccurs="1" minOccurs="1">                                <xs:element type="xs:string" name="beforecode" minOccurs="0"/>                                <xs:element type="xs:string" name="aftercode" minOccurs="0"/>                                <xs:element type="xs:positiveInteger" name="beforeline" minOccurs="0"/>                                <xs:element type="xs:positiveInteger" name="afterline" minOccurs="0"/>                            </xs:choice>                            <xs:element type="xs:string" name="insertcode"/>                        </xs:sequence>                        <xs:attribute type="xs:string" name="name" use="required"/>                    </xs:complexType>                </xs:element>            </xs:sequence>        </xs:complexType>    </xs:element></xs:schema>